In [1]:
#avizoの出力データ(components)を,x y z r^2のtxtにするコードです

In [2]:
#csvファイルの名前 例)abcde.csv なら "abcde"
name="load0b"

In [3]:
import math
import numpy as np
import pandas as pd

In [4]:
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"
IMAGE_DIR = "../data/images/"
INVERSE_DIR = "../data/Inverse analysis/"
EXCEL_DIR = "../data/excel/"
PKL_DIR = "../data/pkl/"

In [5]:
def convert_csv_to_pkl(filename):
    df = pd.read_csv(f'{EXCEL_DIR}{filename}.csv',header=1)
    df.to_pickle(f'{PKL_DIR}{filename}.pkl')

#以下 convert_csv_to_pkl(filename) でcsv読み込み

convert_csv_to_pkl(name)

In [6]:
original_df=pd.read_pickle(f'{PKL_DIR}{name}.pkl')
original_df

,Index,Material,Number of voxels,Volume [?m^3],CenterX [?m],CenterY [?m],CenterZ [?m],BBoxCenterX,BBoxCenterY,BBoxCenterZ,SeedI,SeedJ,SeedK
0,1,NaN,10,10.005887,121.44000,113.34400,50.804001,121.44000,113.85000,51.292500,44,10,0
1,2,NaN,37,37.021778,1130.40390,143.70399,50.804001,1131.41590,144.71600,51.781002,1040,39,0
2,3,NaN,23,23.013536,1128.38000,155.84799,50.804001,1128.88600,156.35400,51.781002,1038,51,0
3,4,NaN,107,107.062980,170.01599,219.60400,51.781002,171.02800,220.10999,52.269501,92,112,0
4,5,NaN,76,76.044731,1127.36790,238.83200,51.781002,1127.87390,239.33800,52.269501,1036,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17195,17196,NaN,14,14.008241,639.58398,237.81999,963.322020,639.58398,237.81999,963.322020,557,130,934
17196,17197,NaN,22,22.012951,939.13599,353.18799,963.322020,939.64197,353.69397,963.322020,852,245,934
17197,17198,NaN,27,27.015892,415.93201,375.45200,963.322020,416.43799,375.45200,963.322020,334,265,934
17198,17199,NaN,64,64.037674,728.63995,489.80798,963.322020,729.14594,490.81998,963.322020,641,380,934
17199,17200,NaN,20,20.011774,950.26794,563.68396,963.322020,950.77399,564.69598,963.322020,864,452,934

In [7]:
original_df['Volume [?m^3]']
se=pd.Series(original_df['Volume [?m^3]'] ,dtype='float64')
def volume_to_radius2(x):
    return str((x*3/(4*math.pi))**(2/3))

In [8]:
se.map(volume_to_radius2)

0        1.7869455654865365
1         4.274766939625096
2         3.113602463360431
3         8.676951009325432
4         6.907491286952039
                ...
17195    2.2362996560767217
17196    3.0226864907990936
17197    3.4648715159785906
17198     6.159771845218222
17199    2.8365992704632372
Name: Volume [?m^3], Length: 17200, dtype: object

In [9]:
original_df["radius2"]=se.map(volume_to_radius2)
original_df

,Index,Material,Number of voxels,Volume [?m^3],CenterX [?m],CenterY [?m],CenterZ [?m],BBoxCenterX,BBoxCenterY,BBoxCenterZ,SeedI,SeedJ,SeedK,radius2
0,1,NaN,10,10.005887,121.44000,113.34400,50.804001,121.44000,113.85000,51.292500,44,10,0,1.7869455654865365
1,2,NaN,37,37.021778,1130.40390,143.70399,50.804001,1131.41590,144.71600,51.781002,1040,39,0,4.274766939625096
2,3,NaN,23,23.013536,1128.38000,155.84799,50.804001,1128.88600,156.35400,51.781002,1038,51,0,3.113602463360431
3,4,NaN,107,107.062980,170.01599,219.60400,51.781002,171.02800,220.10999,52.269501,92,112,0,8.676951009325432
4,5,NaN,76,76.044731,1127.36790,238.83200,51.781002,1127.87390,239.33800,52.269501,1036,134,0,6.907491286952039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17195,17196,NaN,14,14.008241,639.58398,237.81999,963.322020,639.58398,237.81999,963.322020,557,130,934,2.2362996560767217
17196,17197,NaN,22,22.012951,939.13599,353.18799,963.322020,939.64197,353.69397,963.322020,852,245,934,3.0226864907990936
17197,17198,NaN,27,27.015892,415.93201,375.45200,963.322020,416.43799,375.45200,963.322020,334,265,934,3.4648715159785906
17198,17199,NaN,64,64.037674,728.63995,489.80798,963.322020,729.14594,490.81998,963.322020,641,380,934,6.159771845218222
17199,17200,NaN,20,20.011774,950.26794,563.68396,963.322020,950.77399,564.69598,963.322020,864,452,934,2.8365992704632372

In [10]:
base_df=original_df[["CenterX [?m]","CenterY [?m]","CenterZ [?m]","radius2"]]

In [11]:
base_df.to_csv(f'{DATA_DIR}{name}.txt', sep='\t',index=False,header=False)
base_df

       CenterX [?m]  CenterY [?m]  CenterZ [?m]             radius2
0         121.44000     113.34400     50.804001  1.7869455654865365
1        1130.40390     143.70399     50.804001   4.274766939625096
2        1128.38000     155.84799     50.804001   3.113602463360431
3         170.01599     219.60400     51.781002   8.676951009325432
4        1127.36790     238.83200     51.781002   6.907491286952039
...             ...           ...           ...                 ...
17195     639.58398     237.81999    963.322020  2.2362996560767217
17196     939.13599     353.18799    963.322020  3.0226864907990936
17197     415.93201     375.45200    963.322020  3.4648715159785906
17198     728.63995     489.80798    963.322020   6.159771845218222
17199     950.26794     563.68396    963.322020  2.8365992704632372

[17200 rows x 4 columns]