In [1]:
#xyzr^2のtxtから、b d bp1 bp2 dp1 dp2 dp3の形式のcsvに変換するコード(1行で書けるかも)
filename='111d4'

In [2]:
EXCEL_DIR = "../data/excel/"
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"

In [3]:
import homcloud.interface as hc  # HomCloudのインターフェス
import numpy as np
import matplotlib.pyplot as plt
import homcloud.paraview_interface as pv




#pdgm file
pointcloud = np.loadtxt('{}{}.txt'.format(DATA_DIR,filename))
pointcloud.shape
hc.PDList.from_alpha_filtration(pointcloud, save_to="{}{}.pdgm".format(CACHE_DIR,filename),save_boundary_map=True,weight=True,no_squared=True)

#pd1
pdlist = hc.PDList("{}{}.pdgm".format(CACHE_DIR,filename))
pd1 = pdlist.dth_diagram(1)
np.savetxt('{}{}_b_pd1.txt'.format(CACHE_DIR,filename),pd1.births,header='b')
np.savetxt('{}{}_d_pd1.txt'.format(CACHE_DIR,filename),pd1.deaths,header='d')

print("end")

end

In [4]:
pd1.death_positions
print(pd1.birth_positions[0])
L=len(pd1.births)
print(pd1.births[0])
import pandas as pd

[[1163.75, 271.814, 428.27], [1161.22, 286.118, 432.452]]
6.160419358723799

In [5]:
B=pd.Series(list(pd1.births))
D=pd.Series(list(pd1.deaths))
B_P=pd.Series(list(pd1.birth_positions))
print(len(B_P[0]))

2

In [6]:
B_P_name=["Birth_Position_1_X","Birth_Position_1_Y","Birth_Position_1_Z","Birth_Position_2_X","Birth_Position_2_Y","Birth_Position_2_Z"]
data_B_P_1_x=[]
data_B_P_1_y=[]
data_B_P_1_z=[]
data_B_P_2_x=[]
data_B_P_2_y=[]
data_B_P_2_z=[]
for i in range(L):
    data_B_P_1_x.append(B_P[i][0][0])
    data_B_P_1_y.append(B_P[i][0][1])
    data_B_P_1_z.append(B_P[i][0][2])
    data_B_P_2_x.append(B_P[i][1][0])
    data_B_P_2_y.append(B_P[i][1][1])
    data_B_P_2_z.append(B_P[i][1][2])
series_1_x = pd.Series(data=data_B_P_1_x)
series_1_y = pd.Series(data=data_B_P_1_y)
series_1_z = pd.Series(data=data_B_P_1_z)
series_2_x = pd.Series(data=data_B_P_2_x)
series_2_y = pd.Series(data=data_B_P_2_y)
series_2_z = pd.Series(data=data_B_P_2_z)

In [7]:
df=pd.DataFrame(B)
df_=df.rename(columns={0:"Birth"},inplace=True)
df["Death"]=D
df.head()

       Birth      Death
0   6.160419   6.328712
1  13.742239  14.013216
2  14.713800  15.377252
3  16.633628  16.968386
4  24.306864  24.777973

In [8]:
D_P=pd.Series(list(pd1.death_positions))

In [9]:
df[B_P_name[0]]=series_1_x
df[B_P_name[1]]=series_1_y
df[B_P_name[2]]=series_1_z
df[B_P_name[3]]=series_2_x
df[B_P_name[4]]=series_2_y
df[B_P_name[5]]=series_2_z
df

,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Birth_Position_2_X,Birth_Position_2_Y,Birth_Position_2_Z
0,6.160419,6.328712,1163.7500,271.814,428.27000,1161.2200,286.118,432.4520
1,13.742239,14.013216,951.8330,193.853,39.24700,927.1540,208.685,44.1338
2,14.713800,15.377252,137.2220,841.237,164.46200,110.5060,834.701,180.1690
3,16.633628,16.968386,1169.6100,280.020,427.44000,1202.8500,279.293,436.7420
4,24.306864,24.777973,98.1002,771.058,473.82000,70.2867,730.167,480.3930
...,...,...,...,...,...,...,...,...
1150,143.175335,143.194474,259.6950,256.217,25.93730,164.1900,526.500,13.2600
1151,144.575123,144.739963,1547.5500,601.727,22.98250,1266.6300,663.241,55.4259
1152,147.120541,147.256031,567.3840,515.610,221.85400,313.1640,573.072,358.4980
1153,153.544538,154.061812,1374.2400,104.782,1.90625,1257.1800,388.261,18.9118
1154,158.538407,158.565123,523.3800,971.880,114.66000,834.8710,956.668,173.2010

In [10]:
D_P_name=["Death_Position_1_X","Death_Position_1_Y","Death_Position_1_Z","Death_Position_2_X","Death_Position_2_Y","Death_Position_2_Z","Death_Position_3_X","Death_Position_3_Y","Death_Position_3_Z"]
data_D_P_1_x=[]
data_D_P_1_y=[]
data_D_P_1_z=[]
data_D_P_2_x=[]
data_D_P_2_y=[]
data_D_P_2_z=[]
data_D_P_3_x=[]
data_D_P_3_y=[]
data_D_P_3_z=[]

for i in range(L):
    data_D_P_1_x.append(D_P[i][0][0])
    data_D_P_1_y.append(D_P[i][0][1])
    data_D_P_1_z.append(D_P[i][0][2])
    data_D_P_2_x.append(D_P[i][1][0])
    data_D_P_2_y.append(D_P[i][1][1])
    data_D_P_2_z.append(D_P[i][1][2])
    data_D_P_3_x.append(D_P[i][2][0])
    data_D_P_3_y.append(D_P[i][2][1])
    data_D_P_3_z.append(D_P[i][2][2])
    
series_d_1_x = pd.Series(data=data_D_P_1_x)
series_d_1_y = pd.Series(data=data_D_P_1_y)
series_d_1_z = pd.Series(data=data_D_P_1_z)
series_d_2_x = pd.Series(data=data_D_P_2_x)
series_d_2_y = pd.Series(data=data_D_P_2_y)
series_d_2_z = pd.Series(data=data_D_P_2_z)
series_d_3_x = pd.Series(data=data_D_P_3_x)
series_d_3_y = pd.Series(data=data_D_P_3_y)
series_d_3_z = pd.Series(data=data_D_P_3_z)
df[D_P_name[0]]=series_d_1_x
df[D_P_name[1]]=series_d_1_y
df[D_P_name[2]]=series_d_1_z
df[D_P_name[3]]=series_d_2_x
df[D_P_name[4]]=series_d_2_y
df[D_P_name[5]]=series_d_2_z
df[D_P_name[6]]=series_d_3_x
df[D_P_name[7]]=series_d_3_y
df[D_P_name[8]]=series_d_3_z
df

,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Birth_Position_2_X,Birth_Position_2_Y,Birth_Position_2_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z,Death_Position_3_X,Death_Position_3_Y,Death_Position_3_Z
0,6.160419,6.328712,1163.7500,271.814,428.27000,1161.2200,286.118,432.4520,1163.7500,271.814,428.27000,1169.6100,280.020,427.4400,1161.2200,286.118,432.4520
1,13.742239,14.013216,951.8330,193.853,39.24700,927.1540,208.685,44.1338,951.8330,193.853,39.24700,927.1540,208.685,44.1338,927.2840,189.811,42.5609
2,14.713800,15.377252,137.2220,841.237,164.46200,110.5060,834.701,180.1690,137.2220,841.237,164.46200,138.5470,846.586,183.0280,110.5060,834.701,180.1690
3,16.633628,16.968386,1169.6100,280.020,427.44000,1202.8500,279.293,436.7420,1169.6100,280.020,427.44000,1202.8500,279.293,436.7420,1192.2800,298.139,439.4740
4,24.306864,24.777973,98.1002,771.058,473.82000,70.2867,730.167,480.3930,83.6043,733.233,452.85300,98.1002,771.058,473.8200,70.2867,730.167,480.3930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1150,143.175335,143.194474,259.6950,256.217,25.93730,164.1900,526.500,13.2600,259.6950,256.217,25.93730,164.1900,526.500,13.2600,324.1690,300.852,21.2364
1151,144.575123,144.739963,1547.5500,601.727,22.98250,1266.6300,663.241,55.4259,1547.5500,601.727,22.98250,1266.6300,663.241,55.4259,1492.1400,734.370,111.5400
1152,147.120541,147.256031,567.3840,515.610,221.85400,313.1640,573.072,358.4980,567.3840,515.610,221.85400,559.7050,472.602,351.9670,313.1640,573.072,358.4980
1153,153.544538,154.061812,1374.2400,104.782,1.90625,1257.1800,388.261,18.9118,1374.2400,104.782,1.90625,1257.1800,388.261,18.9118,1172.7000,208.650,86.9351
1154,158.538407,158.565123,523.3800,971.880,114.66000,834.8710,956.668,173.2010,523.3800,971.880,114.66000,834.8710,956.668,173.2010,613.5190,962.384,291.4380

In [11]:
df.to_csv(f'{EXCEL_DIR}{filename}_pd1_output.csv')

In [12]:
df_nnn=df[df['Death'] < 101]
df_aaaa=df_nnn[df['Birth'] < 101]
df_nnnn=df_aaaa[df_aaaa['Death'] > 100]
df_aaaaa=df_nnnn[df['Birth'] > 100]
df_aaaaa

c:\Users\vvho\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

c:\Users\vvho\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

,Birth,Death,Birth_Position_1_X,Birth_Position_1_Y,Birth_Position_1_Z,Birth_Position_2_X,Birth_Position_2_Y,Birth_Position_2_Z,Death_Position_1_X,Death_Position_1_Y,Death_Position_1_Z,Death_Position_2_X,Death_Position_2_Y,Death_Position_2_Z,Death_Position_3_X,Death_Position_3_Y,Death_Position_3_Z
946,100.140532,100.171344,1903.980,215.280,285.8700,1815.860,219.427,465.7510,1903.980,215.280,285.8700,1785.420,147.030,379.0800,1815.86,219.427,465.7510
950,100.547457,100.571153,384.426,750.721,296.6470,313.164,573.072,358.4980,384.426,750.721,296.6470,313.164,573.072,358.4980,348.66,665.730,430.1700
953,100.279102,100.817469,324.169,300.852,21.2364,508.420,270.637,94.6296,324.169,300.852,21.2364,324.218,240.724,97.1506,508.42,270.637,94.6296
955,100.899602,100.930902,1492.140,734.370,111.5400,1307.670,695.760,183.6900,1492.140,734.370,111.5400,1307.670,695.760,183.6900,1335.72,652.485,196.9150

In [13]:
pd1 = pdlist.dth_diagram(1)

In [14]:
pair = pd1.nearest_pair_to(100,100)
optimal_volume = pair.optimal_volume()
optimal_volume.boundary_points()[0]

[1903.98, 215.28, 285.87]

In [15]:
pair

Pair(100.14053247015903, 100.17134357219001)

In [16]:
#bdのpairから
pair.death_position_symbols
#+1したらmemoのid

['292', '382', '500']