In [21]:
#csvファイルの名前 例)abcde.csv なら "abcde"
name="before_Al"

In [22]:
import math
import numpy as np
import pandas as pd

In [23]:
DATA_DIR = "../data/model data/"
CACHE_DIR = "../data/cache/"
IMAGE_DIR = "../data/images/"
INVERSE_DIR = "../data/Inverse analysis/"
EXCEL_DIR = "../data/excel/"
PKL_DIR = "../data/pkl/"

In [24]:
def convert_csv_to_pkl(filename):
    df = pd.read_csv(f'{EXCEL_DIR}{filename}.csv',header=1)
    df.to_pickle(f'{PKL_DIR}{filename}.pkl')

#以下 convert_csv_to_pkl(filename) でcsv読み込み

convert_csv_to_pkl(name)

In [25]:
original_df=pd.read_pickle(f'{PKL_DIR}{name}.pkl')
original_df

,Index,Material,Number of voxels,Volume,CenterX,CenterY,CenterZ,BBoxCenterX,BBoxCenterY,BBoxCenterZ,SeedI,SeedJ,SeedK
0,1,NaN,12,658464,6460,7524,3838,6498,7524,3838,170,197,101
1,2,NaN,10,548720,6232,7942,3838,6251,7961,3838,166,207,101
2,3,NaN,59,3237448,1292,4788,3876,1292,4864,3876,28,124,102
3,4,NaN,15,823080,1710,4864,3876,1710,4902,3876,45,127,102
4,5,NaN,32,1755904,6042,4978,3876,6042,4997,3895,158,129,102
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,2039,NaN,10,548720,5472,7334,14440,5491,7372,14440,142,193,380
2039,2040,NaN,12,658464,8360,8132,14440,8360,8132,14440,220,213,380
2040,2041,NaN,41,2249752,8702,8208,14440,8740,8208,14440,228,213,380
2041,2042,NaN,20,1097440,4142,8246,14440,4161,8265,14440,106,216,380
2042,2043,NaN,49,2688728,4408,9310,14440,4408,9348,14440,116,241,380

In [26]:
original_df['Volume']
se=pd.Series(original_df['Volume'] ,dtype='float64')
def volume_to_radius2(x):
    return str((x*3/(4*math.pi))**(2/3))

In [27]:
se.map(volume_to_radius2)

0        2912.699073955072
1       2579.3371919905107
2        8421.887997694657
3        3379.887874336036
4       5601.1186504619845
               ...
2038    2579.3371919905107
2039     2912.699073955072
2040     6607.401407429211
2041    4094.4425719464384
2042    7441.1291168199805
Name: Volume, Length: 2043, dtype: object

In [28]:
original_df["radius2"]=se.map(volume_to_radius2)
original_df

,Index,Material,Number of voxels,Volume,CenterX,CenterY,CenterZ,BBoxCenterX,BBoxCenterY,BBoxCenterZ,SeedI,SeedJ,SeedK,radius2
0,1,NaN,12,658464,6460,7524,3838,6498,7524,3838,170,197,101,2912.699073955072
1,2,NaN,10,548720,6232,7942,3838,6251,7961,3838,166,207,101,2579.3371919905107
2,3,NaN,59,3237448,1292,4788,3876,1292,4864,3876,28,124,102,8421.887997694657
3,4,NaN,15,823080,1710,4864,3876,1710,4902,3876,45,127,102,3379.887874336036
4,5,NaN,32,1755904,6042,4978,3876,6042,4997,3895,158,129,102,5601.1186504619845
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,2039,NaN,10,548720,5472,7334,14440,5491,7372,14440,142,193,380,2579.3371919905107
2039,2040,NaN,12,658464,8360,8132,14440,8360,8132,14440,220,213,380,2912.699073955072
2040,2041,NaN,41,2249752,8702,8208,14440,8740,8208,14440,228,213,380,6607.401407429211
2041,2042,NaN,20,1097440,4142,8246,14440,4161,8265,14440,106,216,380,4094.4425719464384
2042,2043,NaN,49,2688728,4408,9310,14440,4408,9348,14440,116,241,380,7441.1291168199805

In [29]:
base_df=original_df[["CenterX","CenterY","CenterZ","radius2"]]

In [30]:
base_df.to_csv(f'{DATA_DIR}{name}.txt', sep='\t',index=False,header=False)